@model AssetmarkBAT.Models.BATModel

@{
    Layout = "~/Views/AssetmarkBAT/Shared/_Layout.cshtml";
}

@section Title
{
    AssetMark – BAT – Assessement2
}

@*@{
        Layout = null;
    }

    <style type="text/css">
        .error{
            color:red;
        }
         label {
            float: left;
            width: 300px;
        }
         .hidden{
             display:none;
         }
    </style>

*@



<main>
    <section>
        <div class="container">
            <h1><img src="~/Styles/Images/business_assessment_logo.png" alt="Business Assessment Tool"></h1>
            <h2>Firm Financials</h2>
            <div class="row">
                <div class="col-md-6">
                    <p class="no-margin">
                        Your financial model shows how top-line revenue flows to the bottom line, and consists of multiple components that can work together to ensure the success and stability of your business. In this section, you will enter financial information such as total AUM, direct and indirect expenses, total number of employees, advisors and new clients – creating an overview of your financial model.
                        The first step is entering your firm’s information. This step is crucial in establishing the framework for accurately measuring your ongoing success. Both your firm financial data and your VMI scores are needed to estimate your firm’s valuation range. Please be sure to provide all the firm financial data below, and then go to the next page to complete the Value Maximization Indicators (VMI).

                    </p>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h4>Additional Resources</h4>
                    <ul>
                        <li><a href="https://www.assetmark.com/~/media/assetmark/files/business_assessment/Business_Assessment_Report_Sample" target="_blank">Sample Valuation <i class="icon-pdf"></i></a></li>
                        <li><a href="https://www.assetmark.com/~/media/assetmark/files/business_assessment/Business_Assessment_Getting_Started_Checklist" target="_blank">Getting Started Checklist <i class="icon-pdf"></i></a></li>
                        <li><a href="https://www.assetmark.com/~/media/assetmark/files/business_assessment/Value_Maximization_Index_Questions" target="_blank">Sample VMI Questions <i class="icon-pdf"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>   
    <section class="grey">
        <div class="container">
            <h3>Enter your firm's financial data in the fields below (all fields are required):</h3>

            <div class="fancy-form-row">
                <div class="fancy-form-label">This information helps us to understand what type of data you are providing. If you are an advisor in a firm, but are providing data for your book of business only please select single advisor practice.</div>
                <div class="fancy-form-control">
                    <ul class="fancy-form-select">
                        <li>
                            <label for="practiceTypeRadio1">
                                <input type="radio" name="practiceType" id="practiceTypeRadio1"> Single advisor practice: Solo practitioner or providing data on your book of business only
                            </label>
                        </li>
                        <li>
                            <label for="practiceTypeRadio2">
                                <input type="radio" name="practiceType" id="practiceTypeRadio2"> Multiple advisor practice:  Multiple advisor practice providing firm level data
                            </label>
                        </li>
                        <li>
                            <label for="practiceTypeRadio3">
                                <input type="radio" name="practiceType" id="practiceTypeRadio3"> Third party: Broker-dealer, wholesaler, consultant 
                            </label>
                        </li>                      
                        <li>
                            <label for="practiceTypeRadio5">
                                <input type="radio" name="practiceType" id="practiceTypeRadio5"> Other (please specify):
                            </label>
                            <input type="text" id="practiceTypeOther">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fancy-form-row">
                <div class="fancy-form-label">Affiliation model describes the registration or affiliation status of your firm. Select the model that accurately represents your firm. </div>
                <div class="fancy-form-control">
                    <ul class="fancy-form-select">
                        <li>
                            <label for="affiliationModeRadio1">
                                <input type="radio" name="affiliationMode" id="affiliationModeRadio1"> Affiliation Model
                            </label>
                        </li>
                        <li>
                            <label for="affiliationModeRadio2">
                                <input type="radio" name="affiliationMode" id="affiliationModeRadio2"> BD (Broker-Dealer): Affiliated with a full-service BD/wirehouse, independent BD, insurance BD or own BD
                            </label>
                        </li>
                        <li>
                            <label for="affiliationModeRadio3">
                                <input type="radio" name="affiliationMode" id="affiliationModeRadio3"> RIA only (Registered Investment Advisor): Registered as an investment advisor with the SEC or state
                            </label>
                        </li>
                        <li>
                            <label for="affiliationModeRadio4">
                                <input type="radio" name="affiliationMode" id="affiliationModeRadio4"> Hybrid BD/RAI: Have your own RIA, as well as a BD affiliation
                            </label>
                        </li>
                        <li>
                            <label for="affiliationModeRadio5">
                                <input type="radio" name="affiliationMode" id="affiliationModeRadio5"> Other (please specify):
                            </label>
                            <input type="text" id="affiliationModeOther">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fancy-form-row">
                <div class="fancy-form-label">Firm type is defined by the primary services provided to clients. Select the firm type that most closely represent your firm.</div>
                <div class="fancy-form-control">
                    <ul class="fancy-form-select">
                        <li>
                            <label for="firmTypeRadio1">
                                <input type="radio" name="firmType" id="firmTypeRadio1"> Firm Type
                            </label>
                        </li>
                        <li>
                            <label for="firmTypeRadio2">
                                <input type="radio" name="firmType" id="firmTypeRadio2"> Financial Planning Firm: Focused on providing financial planning services / process
                            </label>
                        </li>
                        <li>
                            <label for="firmTypeRadio3">
                                <input type="radio" name="firmType" id="firmTypeRadio3"> Investment Advisory Firm: Focused on providing investment strategy and manager selection
                            </label>
                        </li>
                        <li>
                            <label for="firmTypeRadio4">
                                <input type="radio" name="firmType" id="firmTypeRadio4"> Investment Management Firm: Focused on investment recommendations and discretionary investment management of client assets
                            </label>
                        </li>
                        <li>
                            <label for="firmTypeRadio4">
                                <input type="radio" name="firmType" id="firmTypeRadio4"> Wealth Management Firm: Provide holistic advice to clients, including integrated tax, estate and financial planning in addition to investment services
                            </label>
                        </li>
                        <li>
                            <label for="firmTypeRadio5">
                                <input type="radio" name="firmType" id="firmTypeRadio5"> Other (please specify):
                            </label>
                            <input type="text" id="firmTypeOther">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Select time period for your data</label>
                                <select>
                                    <option value="YTD">YTD 2017</option>
                                    <option value="2017">Previous Calendar Year</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Month for YTD entry</label>
                                <select>
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                    <option value="April">April</option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<form name="form" class="ng-pristine ng-valid ng-valid-min ng-valid-max">*@
            <div ng-app="">

                @using (Html.BeginForm("Page2Questions", "AssetmarkBAT", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.UserId)

                    <fieldset>

                        <div class="row field-header">
                            <div class="col-md-5 field-label">
                                Performance Metric
                            </div>
                            <div class="col-md-4 field-control"></div>
                            <div class="col-md-3 field-value">Annualized Values</div>
                        </div>

                        <div class="row field-row">
                            <div class="col-md-5 field-label">
                                Total Firm Assets Under Management <i class="icon-info tooltip" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quod, ipsa! Atque eveniet perspiciatis voluptatem libero, blanditiis dolorem veritatis delectus, ad, consequatur aliquid nisi temporibus officiis. Eius iure error culpa."></i>
                            </div>
                            <div class="col-md-4 field-control">
                                @*<input type="text" name="assets" ng-model="assets" ui-money-mask="0" min="1000000" max="99000000" ui-hide-space="" class="ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-max">*@
                                @Html.TextBoxFor(m => Model.Ff_TotalFirmAsset, new { @class = "ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-max", ng_Model = "assets", ui_money_mask="0" })    
                                <div class="error ng-hide" ng-hide="!form.assets.$error.min">Please enter a value greater than $1,000,000</div>
                                <div class="error ng-hide" ng-hide="!form.assets.$error.max">Please enter a value less than $99,000,000</div>
                            </div>
                            <div class="col-md-3 field-value">     
                                {{ assets | number:0 | currency}}
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-5 field-label">
                                Non-recurring Revenue
                            </div>
                            <div class="col-md-4 field-control">
                                <input type="text" name="nonRecurringRevenue" ng-model="nonRecurringRevenue" ui-money-mask="0" max="10000000" ui-hide-space="" class="ng-pristine ng-untouched ng-valid ng-valid-max">
                            </div>
                            <div class="col-md-3 field-value">
                                $2,500
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-5 field-label">
                                Recurring Revenue
                            </div>
                            <div class="col-md-4 field-control">
                                <input type="text" name="recurringRevenue" ng-model="recurringRevenue" ui-money-mask="0" max="10000000" ui-hide-space="" class="ng-pristine ng-untouched ng-valid ng-valid-max">
                            </div>
                            <div class="col-md-3 field-value">
                                $950,000
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-5 field-label">
                                <strong>Total Revenue (Calculated)</strong>
                            </div>
                            <div class="col-md-4 field-control">
                                <span>$975,000</span>
                            </div>
                            <div class="col-md-3 field-value">
                                $975,000
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-5 field-label">
                                Direct Expenses <i class="icon-info tooltip" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quod, ipsa! Atque eveniet perspiciatis voluptatem libero, blanditiis dolorem veritatis delectus, ad, consequatur aliquid nisi temporibus officiis. Eius iure error culpa."></i>
                            </div>
                            <div class="col-md-4 field-control">
                                <input type="text" name="directExpenses" ng-model="directExpenses" ui-money-mask="0" max="10000000" ui-hide-space="" class="ng-pristine ng-untouched ng-valid ng-valid-max">
                            </div>
                            <div class="col-md-3 field-value">
                                $450,000
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-5 field-label">
                                Indirect Expenses <i class="icon-info tooltip" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quod, ipsa! Atque eveniet perspiciatis voluptatem libero, blanditiis dolorem veritatis delectus, ad, consequatur aliquid nisi temporibus officiis. Eius iure error culpa."></i>
                            </div>
                            <div class="col-md-4 field-control">
                                <input type="text" name="indirectExpenses" ng-model="indirectExpenses" ui-money-mask="0" max="10000000" ui-hide-space="" class="ng-pristine ng-untouched ng-valid ng-valid-max">
                            </div>
                            <div class="col-md-3 field-value">
                                $300,000
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-5 field-label">
                                Operating Profit (Calculated)
                            </div>
                            <div class="col-md-4 field-control">
                                <span>$975,000</span>
                            </div>
                            <div class="col-md-3 field-value">
                                $225,000
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-5 field-label">
                                Projected Annual Growth Rate <i class="icon-info tooltip" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quod, ipsa! Atque eveniet perspiciatis voluptatem libero, blanditiis dolorem veritatis delectus, ad, consequatur aliquid nisi temporibus officiis. Eius iure error culpa."></i>
                            </div>
                            <div class="col-md-4 field-control">
                                <input type="text" name="growthRate" ng-model="growthRate" ui-percentage-mask="0" max="20" ui-hide-space="" class="ng-pristine ng-untouched ng-valid ng-valid-max">
                            </div>
                            <div class="col-md-3 field-value">
                                4%
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-5 field-label">
                                # Client Relationships
                            </div>
                            <div class="col-md-4 field-control">
                                <input type="text" name="clientRel" ng-model="clientRel" ui-number-mask="0" max="10000" class="ng-pristine ng-untouched ng-valid ng-valid-max">
                            </div>
                            <div class="col-md-3 field-value">
                                97
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-5 field-label">
                                # Full-Time Equivalent Non Advisors <i class="icon-info tooltip" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quod, ipsa! Atque eveniet perspiciatis voluptatem libero, blanditiis dolorem veritatis delectus, ad, consequatur aliquid nisi temporibus officiis. Eius iure error culpa."></i>
                            </div>
                            <div class="col-md-4 field-control">
                                <input type="text" name="nonAdvisors" ng-model="nonAdvisors" ui-number-mask="2" max="10000" class="ng-pristine ng-untouched ng-valid ng-valid-max">
                            </div>
                            <div class="col-md-3 field-value">
                                1.5
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-5 field-label">
                                # Full-Time Equivalent Advisors <i class="icon-info"></i>
                            </div>
                            <div class="col-md-4 field-control">
                                <input type="text" name="advisors" ng-model="advisors" ui-number-mask="2" max="10000" class="ng-pristine ng-untouched ng-valid ng-valid-max">
                            </div>
                            <div class="col-md-3 field-value">
                                2
                            </div>
                        </div>
                        <div class="row field-row">
                            <div class="col-md-5 field-label">
                                # New Clients <i class="icon-info"></i>
                            </div>
                            <div class="col-md-4 field-control">
                                <input type="text" name="newClients" ng-model="newClients" ui-number-mask="0" max="1000" class="ng-pristine ng-untouched ng-valid ng-valid-max">
                            </div>
                            <div class="col-md-3 field-value">
                                3
                            </div>
                        </div>
                    </fieldset>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="button-container text-center">
                                @*<button class="btn-big">Save Your Inputs</button>
                                <button class="btn-big">VMI Inputs <span class="light">Next</span> <i class="icon-chevron-right"></i></button>*@
                                <input type="submit" name="submit" value="Save Your Inputs" />
                                <input type="submit" name="submit" value="VMI Inputs Next" />
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
</main>






