<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Styles/pdf_styles.css">
</head>
<body>

    <div class="container">
        <header class="header">
            <img src="~/Images/assetmark-logo.jpg">
        </header>

        <h1>Business Assessment Report</h1>
        <div class="row">
            <div class="column column-66">
                <h3>Firm Performance Relative To Film Goals and Peer Group Benchmarks</h3>
                <h5>(note: a maxinum of 9 KPIs are displayed, all values are annualized)</h5>
            </div>
            <div class="column column-33">
                <div class="text-right">
                    Peer Group <span style="color: white;">sdfsfdfsdfdsfdsfdsfsd</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column column-66">
                <table>
                    <thead>
                        <tr>
                            <th style="max-width:350px;">Firm Financials</th>
                            <th style="min-width:175px;">Your Firm</th>
                            <th style="min-width:175px;">Benchmarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total Firm Aum</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total Clients</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Recurring Revenue</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total Revenue</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total Expenses</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Operating Profit</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Projected Annual Growth Rate</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column column-33">
                <figure>
                    <img src="~/Images/Lock.png" width="50px">
                    <figcaption>
                        Learn hor to unlock goal tracking by reaching out to your Regional AssetMark Consultant
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="column column-50">
                <h3>Value Maximization Index™</h3>
                <h5>Fir Relative to Peer Group Benchmark</h5>
                <div class="graph">
                    <div style="min-width:500px; min-height:248px;">

                    </div>
                    <!--<img src="./index_files/graph1.png" alt="">-->
                    <div class="legend">
                        <ul>
                            <li><span class="swatch blue1"></span> Managing Your Practice</li>
                            <li><span class="swatch blue2"></span> Marketing Your Business</li>
                            <li><span class="swatch blue3"></span> Optimizing Your Operations</li>
                            <li><span class="swatch blue4"></span> Empowering Your Team</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column column-50">
                <h3>Valuation Range</h3>
                <h5>Firm Relative to Peer Group Benchmark</h5>
                <div class="graph">
                    <!--<img src="./index_files/graph2.png" alt="">-->
                </div>
            </div>
        </div>
        <h3>Key Performance Indicators(KPIs): Firm Performance Relative to Goals and Peer Group Benchmarks</h3>
        <h5>(note: a maxinum of 9 KPIs are displayed, all values are annualized)</h5>
        <div class="row">
            <div class="column column-66">
                <table>
                    <thead>
                        <tr>
                            <th style="max-width:350px;">Metric</th>
                            <th style="min-width:175px;"></th>
                            <th style="min-width:175px;">Benchmarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Recurring Revenue per Client</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Recurring Revenue per Advisor</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total Revenue per Client</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total AUM per Client</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total AUM per Advisor</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Profit per Client</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Profit as a % of Revenue</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Clients per Advisor</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Revenue as BPS on Assets</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column column-33">
                <div class="text-center">
                    <figure>
                        <img src="~/Images/Lock.png" width="50px">
                        <figcaption>
                            Learn hor to unlock goal tracking by reaching out to your Regional AssetMark Consultant
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <p><small>Valuation ranges shown are for illustrative purposes only and in no way constitutes a guarantee of individual practice valuation by AssetMark. Actual practice valuation may vary from tool results. Visit 
            <a href="https://www.ewealthmanager.com/eWMLogin/TermsOfUse/PracticeManagementTermOfUse">https://www.ewealthmanager.com/eWMLogin/TermsOfUse/PracticeManagementTermOfUse</a> to view the full terms of use for this tool.</small></p>
    </div>

</body>
</html>
