@model AssetmarkBAT.Models.BATModel
@{
    Layout = "~/Views/AssetmarkBAT/Shared/_Layout.cshtml";
}

@section Title
{
    AssetMark – BAT – Assessement4
}

@using (Html.BeginForm("Optimizer", "AssetmarkBAT", FormMethod.Post))
{
    @Html.HiddenFor(m => m.DateStarted)
    @Html.HiddenFor(m => m.PDFPath)

    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h1><img src="~/Styles/Images/business_assessment_logo.png" alt="Business Assessment Tool"></h1>
                    </div>
                </div>
                <h2>Valuation Range</h2>
                <p>Below is your valuation range, an estimated practice value alongside the valuation range for top-performing firms in your peer group. Provide your information to gain access to your complete detailed report. An AssetMark consultant will reach out to help you understand the components that impact your estimated value and assist you with any questions you may have. </p>
                <p>To download a detailed report, please submit your contact information in the form below. </p>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="secondary">Valuation Range<br><span class="light">Firm Relative to Peer Group Benchmark</span></h4>
                        <div class="graph">
                            <div id="optimizerGraph" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="secondary">To Download Your Detailed Report,<br>Fill In Your Contact Information</h4>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Zip or Postal Code">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Broker-Dealer or RIA Name">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="button-container text-center">
                            @*<button>View Detailed Report</button>*@
                            <a href="@Model.PDFPath" class="btn" target="_blank">View Complete Report</a>
                            @*<input type="submit" value="View Complete Report Report" name="submit" />*@
                            <input type="submit" value="Additional Resources" name="submit" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
}
