@model AssetmarkBAT.Models.BATModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AssetMark – BAT – Assessement4</title>
</head>
<body>
    <div>
        @Html.Partial("~/Views/AssetmarkBAT/Shared/Header.cshtml")
    </div>
    <div> 
        <br /><br />Report will go here
    </div>
</body>
</html>
