@{
    Layout = "~/Views/AssetmarkBAT/Shared/_Layout.cshtml";
}

@section Title
{
    AssetMark – BAT – Assessement5
}


<main>
    <section>
        <div class="container">
            <h1><img src="~/Images/business_assessment_logo.png" alt="Business Assessment Tool" width="350"></h1>
            <h2><span>Business Assessment</span></h2>
            <p>Thank you for completing your business assessment. Take a look at the Value Maximization Index® table below to identify which category you scored the lowest in, then click the category links to access resources specific to each category that are designed to help you improve corresponding areas of your business.</p>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <table ng-cloak>
                        <thead>
                            <tr>
                                <th>Valuation Categories</th>
                                <th>Score</th>
                                <th class="text-right">PDFs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Managing Your Practice</td>
                                <td>120</td>
                                <td class="text-right"><a href="#"><img src="~/Images/pdf.png" /></a></td>
                            </tr>
                            <tr>
                                <td>Marketing Your Business</td>
                                <td>120</td>
                                <td class="text-right"><a href="#"><img src="~/Images/pdf.png" /></a></td>
                            </tr>
                            <tr>
                                <td>Optimizing Your Operations</td>
                                <td>120</td>
                                <td class="text-right"><a href="#"><img src="~/Images/pdf.png" /></a></td>
                            </tr>
                            <tr>
                                <td>Empowering Your Team</td>
                                <td>120</td>
                                <td class="text-right"><a href="#"><img src="~/Images/pdf.png" /></a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total VMI Score</td>
                                <td>470</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <p><strong>To adjust your inputs you can <a href="/">return to the beginning</a></strong></p>
        </div>
    </section>
    <section class="white">
        <div class="container">
            <h2>Valuation Optimizer</h2>
            <p>Here you see how changes in growth rate, profit margins and Value Maximization Index® can impact your firm’s estimated valuation range. Use the sliders below to visualize how changes to each key area impact your overall range. </p>

            <div class="row" ng-cloak>
                <div class="col-md-8 col-md-offset-2">

                    <div class="graph" ng-init="initGraph()">
                        <h6>Firm Valuation Range: Current Value vs. Optimized Value</h6>
                        <div id="optimizerGraph" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                    </div>

                    <h6>See how changes impact your firm valuation.</h6>
                    <p>
                        <small>Use the slider on "Your Firm" to increase or decrease your VMI Score</small><br>
                        <small>Top performing firms</small>
                    </p>

                    <div class="optimizer">
                        <div class="title">
                            <h3 class="optimized-label">Projected Annual Growth Rate</h3>
                            <div class="optimized-value">{{pagr.value}}%</div>
                        </div>
                        <div class="optimizer-slider" ng-init="pagr.value=1; pagr.valueOg=1">
                            <input type="text" ng-model="pagr.value" />
                            <div class="slider-ticks">
                                <rzslider rz-slider-model="pagrTicks.minValue"
                                          rz-slider-high="pagrTicks.maxValue"
                                          rz-slider-options="pagrTicks.options"></rzslider>
                            </div>
                            <div class="slider-comp">
                                <rzslider rz-slider-model="pagrComp.minValue"
                                          rz-slider-high="pagrComp.maxValue"
                                          rz-slider-options="pagrComp.options"></rzslider>
                            </div>
                            <div class="slider-pointer">
                                <rzslider rz-slider-model="pagr.value"
                                          rz-slider-options="pagr.options"></rzslider>
                            </div>
                        </div>
                    </div>

                    <div class="optimizer">
                        <div class="title">
                            <h3 class="optimized-label">Profit Margin</h3>
                            <div class="optimized-value">{{pm.value}}%</div>
                        </div>
                        <div class="sub-title">
                            <h4 class="optimized-label">Profit is annualized</h4>
                            <div class="optimized-value">$2,054,400</div>
                        </div>
                        <div class="optimizer-slider" ng-init="pm.value=10; pm.valueOg=10">
                            <input type="hidden" ng-model="pm.value" />
                            <div class="slider-ticks">
                                <rzslider rz-slider-model="pmTicks.minValue"
                                          rz-slider-high="pmTicks.maxValue"
                                          rz-slider-options="pmTicks.options"></rzslider>
                            </div>
                            <div class="slider-comp">
                                <rzslider rz-slider-model="pmComp.minValue"
                                          rz-slider-high="pmComp.maxValue"
                                          rz-slider-options="pmComp.options"></rzslider>
                            </div>
                            <div class="slider-pointer">
                                <rzslider rz-slider-model="pm.value"
                                          rz-slider-options="pm.options"></rzslider>
                            </div>
                        </div>
                    </div>

                    <div class="optimizer">
                        <div class="title">
                            <h3 class="optimized-label">Valuation Maximization Index<sup>&trade;</sup></h3>
                            <div class="optimized-value">{{vmi.value}}</div>
                        </div>
                        <div class="optimizer-slider" ng-init="vmi.value=200; vmi.valueOg=200">
                            <div class="optimizer-slider">
                                <input type="hidden" ng-model="vmi.value" />
                                <div class="slider-ticks">
                                    <rzslider rz-slider-model="vmiTicks.minValue"
                                              rz-slider-high="vmiTicks.maxValue"
                                              rz-slider-options="vmiTicks.options"></rzslider>
                                </div>
                                <div class="slider-comp">
                                    <rzslider rz-slider-model="vmiComp.minValue"
                                              rz-slider-high="vmiComp.maxValue"
                                              rz-slider-options="vmiComp.options"></rzslider>
                                </div>
                                <div class="slider-pointer">
                                    <rzslider rz-slider-model="vmi.value"
                                              rz-slider-options="vmi.options"></rzslider>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="button-container text-right">
                        <button ng-click="resetVmiSliders()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
