<footer>
    <section class="footer">
        <div class="container">
            <p>The information on this website is for informational purposes only and is not a solicitation for investment. The opinions expressed here are those of AssetMark and are subject to change at any time. Individual investors should consult with their financial advisors before making any investment decisions. Always consult with a qualified tax advisor before making any investment decisions</p>

            <p>© 2017 AssetMark, Inc. All rights reserved. AssetMark, Inc. is an investment adviser registered with the Securities and Exchange Commission.</p>
        </div>
    </section>
</footer>
