<header>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="#"><img src="images/AMK_Wordmark.png" alt="ASSETMARK"></a>
                </div>
                <div class="col-md-6 text-right">
                    <nav>
                        <ul>
                            <li><i class="icon-phone"></i> 1-844-540-0972</li>
                            <li><a href="https://www.assetmark.com/contact-us" class="btn btn-secondary btn-small">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</header>
